{% extends "pages/base.html" %} <!--connects this page to the base  -->
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Booking Confirmed! </h1>
    <p>Thank you, {{ booking.customer_name }}, your tickets are reserved!</p> <!-- Simple title with the   name of user  -->

    <h2>Booking Details</h2>
    <p><strong>Confirmation ID:</strong> #{{ booking.id }}</p>   <!--Shows id of the user, date and email -->
    <p><strong>Visit Date:</strong> {{ booking.booking_date|date:"l, F jS, Y" }}</p>
    <p><strong>Email:</strong> {{ booking.email }}</p>

    <h3>Tickets Booked:</h3>
    <ul>
        <li>Adults: {{ booking.adult_tickets }}</li>
        <li>Children: {{ booking.child_tickets }}</li><!-- number of tickets for adult and children  -->
        
    </ul>

    <hr>
    <h2>TOTAL PRICE: ${{ booking.total_price }} CONFIRMED </h2>  
    <p style="font-style: italic;">We look forward to seeing you at the Zoo!</p>
</body>
</html>

{% endblock %}
