{% extends 'pages/base.html' %} <!--connects this page to the base  -->

{% load crispy_forms_tags %} <!-- It arranges the cells correctly, so we do not need divs   -->

{% block content %}
<body>
    <br>
    <div class="container bg-dark p-5 form-layout">
        <h3>Login to your account</h3>  

        <hr>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ login_form|crispy }}
            <br>
            <button type="submit" class="btn btn-success w-100 btn-block p-2">
             Login
            </button>
        </form>

        <br>
        <div class="text-center">
            <p>Don't have an account?</p>
            <a href="{% url 'register' %}">Register</a> 
        </div>
        <br>
    </div>
</body>
{% endblock %}

